<header class="header">
	<img src="assets/img/foto.png" alt="Leandro Menezes - Foto do Perfil" width="130px" height="130px"
		loading="eager" />
	<h1>Leandro de Menezes da Silva</h1>
</header>

<aside>
	<div class="container">
		<h3>Desenvolvedor Full Stack - Frontend e Backend - Angular e Java</h3>
		<p>
			Mais de 10 anos de experiência como desenvolvedor Full Stack, com foco em desenvolvimento de aplicações web.
			Atualmente, atuo como Analista de Tecnologia da Informação, realizando manutenção de aplicativos para web
			desenvolvidos em Java e VisualBasic 6, banco de dados SQL Server 2008 R2 e PostgreSQL.
		</p>
		<p>Brasília, DF, Brasil</p>

		<nav>
			<ul>
				<li>
					<a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
						<img src="assets/icons/download.svg" alt="Baixar Currículo" width="20px" height="20px">
						Baixar Currículo
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/leandromenezessilva/" target="_blank"
						class="btn btn-secondary">
						<img src="assets/icons/linkedin.svg" alt="Acessar LinkedIn" width="20px" height="20px">
						LinkedIn
					</a>
				</li>
				<li>
					<a href="https://github.com/bambatera" target="_blank" class="btn btn-secondary">
						<img src="assets/icons/github.svg" alt="Acessar GitHub" width="20px" height="20px">
						GitHub
					</a>
				</li>
			</ul>
		</nav>

		<section>
			<figure>
				<img src="assets/icons/whatsapp.svg" alt="Ícone para contato via WhatsApp" width="22px" height="24px" />
				<figcaption>
					<a href="https://wa.me/5561996273719" target="_blank">
						<strong>Contato via WhatsApp:</strong>
						<p>(61) 99627-3719</p>
					</a>
				</figcaption>
			</figure>
			<figure>
				<img src="assets/icons/mail.svg" alt="Ícone para contato via E-mail" width="22px" height="24px" />
				<figcaption>
					<a href="mailto:leandromsilva@outlook.com.br" target="_blank">
						<strong>Contato por e-mail:</strong>
						<p>leandromsilva&#64;outlook.com.br</p>
					</a>
				</figcaption>
			</figure>
		</section>
	</div>
</aside>